@grey-color: rgb(243,243,243);
.user-wrap {
    width: 200px;
    text-align: center;
    padding: 30px 0;
    > div {
        margin-top: 30px;
    }
}
.ant-layout-sider{
    background: @grey-color;
}
.ant-menu{
    background: @grey-color;
}
.ant-menu-item-group-title{
    padding: 8px 24px;
}
.logo-wrap{
    height: 64px;
    img{
        height: 60px;
        border-radius: 3px;        
    }
}
// .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
//     background: #fff;
//     color: rgb(238,79,113);
// }
// .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected ::after {
//     border-right: 3px solid rgb(238,79,113);
// }
// .ant-menu-item-active{
//     color: rgb(238,79,113);
// }